.services {
  padding: 4rem 2rem;
  background: #fff;
  text-align: center;

  .service {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(237, 17%, 21%);
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;

    color: #fff;

    .phone-image-div {
      width: 50%;

      img {
        width: 50%;
      }
    }

    .desc {
      width: 50%;
      text-align: left;
      padding: 1.5rem;

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

.service2 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .editor-img-div {
    width: 50%;
    border: 1px solid #f8f8f8;

    img {
      width: 60%;
    }
  }

  .wrap-div {
    width: 50%;
    text-align: left;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .services {
    padding: 2rem;
  }

  .service {
    flex-direction: column;

    .phone-image-div {
      width: 100%;
    }

    .desc {
      width: 100%;
    }
  }
  .service2 {
    flex-direction: column;

    .editor-img-div {
      width: 100%;
    }

    .wrap-div {
      width: 100%;
    }
  }
}
